<!DOCTYPE html>

<html>

<head>
    <title>about</title>
    <link rel="icon" href="/img/whether_image.jpeg">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Sagar Shukla. It uses data from mapbox.com and darksky.net!</p>
        <img class="portrait" src="./img/sagar pic.jpeg">
    </div>

    {{>footer}}
</body>

</html>